<div class="row">
	<div class="jumbotron">
		<h1>Napathon</h1>
		<p>Want to find out places to take a little snooze? Need a little shut-eye without heading back to your bed? Look no farther than Napathon,
			the all-in-one app to find places to rest your eyes</p>
	</div>
</div>

<div class="row">
	<div>
		<tabset justified="true">
			<tab heading="Look for Napspots">
				<div class="tab-inner">
					<input type="text" class="form-control" placeholder="Current Address" ng-model="address">
				</div>
			</tab>
			<tab heading="Add Napspot"></tab>
		</tabset>
	</div>
</div>